p{
    border: 1px dashed black;
    color: black;
    font-size: 44;
    font-weight: 700;
    font-weight: 900;
    
}
h1{
    border: 1px solid black;
    color: black;
    font-size: 44;
}
h2{
    border: 1px solid black;
    color: black;
    font-size: 44;
}